<!-- <div class="rightsidemaincontainer">
    <div class="rightsidesubcontainer">
        <h1>Introduction</h1>

    </div>
     
 
</div> -->



    <h1>Introduction to TurboNG UI library</h1>
        <!-- <img src="https://logo.svgcdn.com/l/npm-8x.png" style="height: 30px;" alt="Logo not found"> -->
    <hr>
    <p>
        Hi, I'm Sidharam Patil, DotNet & Angular developer focused on building clean, reusable, and
        scalable UI components. TurboNG Angular component library is a collection of thoughtfully crafted UI elements
        designed to simplify and speed up frontend development. A lightweight, modular Angular component library built
        for performance and flexibility. It offers reusable, customizable, and accessible components that help
        developers create consistent and modern user interfaces across Angular applications. Perfect for teams looking
        to standardize their design systems or accelerate UI development.
        <a href="https://www.npmjs.com/package/turbo-ng" target="_blank">NPM Package Link</a>
    </p>
    <br>
    <h1>Installation</h1>
    <hr>
    <h3>1. Create an Angular project</h3>
    <h4>&nbsp;&nbsp;&nbsp; Run the following command:</h4>
    <div class="commandbox">
        > ng new My-Angular-Application
    </div>
    <h3>2. Navigate to the Project Directory</h3>
    <div class="commandbox">
        > cd My-Angular-Application
    </div>
    <h3>3. Install TurboNG UI library</h3>
    <div class="commandbox">
        > npm i turbo-ng
    </div>
      <h3>4. Build the Application</h3>
    <div class="commandbox">
        > ng build
    </div>
     <h5 style="margin-bottom: 150px;">Note: Make sure application build successfully.</h5>
    <!-- <br><br><br><br><br><br> -->




 