<h1>TurboNG - Radio Button Overview</h1>
<hr>
<p>
    A lightweight and customizable Angular component for creating radio button groups with enhanced flexibility. This
    library supports labels, enabled/disabled states, and seamless integration into forms and UI layouts. Designed for
    accessibility and responsiveness, it allows developers to easily implement intuitive selection controls with
    consistent styling and behavior across devices.<br> The next update will introduce label positioning options (left,
    right, top, bottom) and enhanced design themes, giving developers even more control over layout and styling.
</p>
<br>
<h1>TurboNG - Radio Button Example</h1>
<hr>
<h3>Disabled Radio Button -</h3>
<div class="commandbox">
    <div style="display: flex; justify-content: center; align-items: center;  height: 40px;">
        <turbo-ng-radio-buttoon label="Male" value="Male" name="group1" [disabled]="true">
        </turbo-ng-radio-buttoon>
    </div>
</div>
<h3>Enabled Radio Button -</h3>
<div class="commandbox">
    <div class="radiodivbox">
        <turbo-ng-radio-buttoon class="radiobtn" label="Male" value="Male" name="group1">
        </turbo-ng-radio-buttoon>
        <turbo-ng-radio-buttoon class="radiobtn" label="Female" value="Female" name="group1">
        </turbo-ng-radio-buttoon>

    </div>
</div>
<h3>1. Import 'TurboNGRadioButtoonComponent' component into component.ts file.</h3>
<div class="commandbox">
    <span>{{ImportString}}</span>
</div><br>
<div class="commandbox">
    <span>{{ImportArrayString}}</span>
</div>
<h3>2. Add below component tag into .html file</h3>
<div class="listitem"> &#9679; 'label' text applied to radio button.</div>
<div class="listitem"> &#9679; 'value' which need to emit after selecting the radio button.</div>
<div class="listitem"> &#9679; '(selected)' emits the selected value. </div>
<div class="listitem"> &#9679; User can create a method like 'getSeletedValue($event)' to capture emitted value.
</div>
<div class="listitem"> &#9679; By default disabled is false.</div>
<div class="commandbox" style="margin-bottom: 150px;">
    <pre style="margin: 0px">{{HtmlTag }}</pre>
</div>