.listitem {
    margin-bottom: 10px;
    margin-left: 20px;
}

.radiobtn {
    margin: 10px;
}

.radiodivbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;

}

@media screen and (max-width: 430px) {
    .radiodivbox {
        flex-direction: column;
    }

}