<h1>TurboNG - Radio Button Overview</h1>
<hr>
<p>
    A lightweight and customizable Angular component for creating radio button groups with enhanced flexibility. This
    library supports labels, enabled/disabled states, and seamless integration into forms and UI layouts. Designed for
    accessibility and responsiveness, it allows developers to easily implement intuitive selection controls with
    consistent styling and behavior across devices.<br> The next update will introduce label positioning options (left,
    right, top, bottom) and enhanced design themes, giving developers even more control over layout and styling.
</p>
<br>
<h1>TurboNG - Radio Button Example</h1>
<hr>
<h3>Disabled Radio Button -</h3>
<div class="commandbox">
    <div style="display: flex; justify-content: center; align-items: center;  height: 40px;">
        <turbo-ng-radio-buttoon   [label]="'Male'"   [value]="'Male'"   [name]="'group1'" id="radio" [disabled]="true">
        </turbo-ng-radio-buttoon>
    </div>
</div>
<h3>Enabled Radio Button -</h3>
<div class="commandbox">
    <div style="display: flex; justify-content: center; align-items: center;  height: 40px;">
        <turbo-ng-radio-buttoon   [label]="'Female'"   [value]="'Male'"   [name]="'group1'" id="radio">
        </turbo-ng-radio-buttoon>
    </div>
</div>