<app-header></app-header>

<app-sidebar></app-sidebar>

<div style="margin-left: 120px; height: 100vh; overflow-y: scroll;  scrollbar-width: thin; background-color: #f5f5f9;">
  <!-- <app-introduction></app-introduction> -->
  <div class="maincontainer">
    <router-outlet></router-outlet>

  </div>


</div>

<!-- <div style="display: flex;">
<div>
</div>
  <div>
    <app-introduction></app-introduction>
  </div>
</div> -->



<!-- style="display: block; width: 129px; min-height: calc(100vh - 60px);" -->
<!-- <div >

  </div> -->


<!-- <div class="maincontent">
 
  <div class="rightsidecont">
    <div class="rightsidemaincontent">
    <app-introduction></app-introduction>

    </div>

  </div>
</div> -->